@mixin for-large-screens{
  @media (min-width: 576px) {@content}
}

.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  
  &:hover {
    background: (0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .User__pic {
    width: 50px;
    border-radius: 50%;
  }
  
  .User__details {
    display: none;
      @include for-large-screens{
        display: block;
        padding: 0 0 0 1rem;
      } 

      .User__details-name {
        @include for-large-screens{
          margin: 0;
          color: rgba(255, 255, 255, 0.8);
          font-size: 1rem;
      } 
    }
  }
}